.input {
    -fx-background-color: #fff;
    -fx-background-radius: 16px;
    -fx-text-fill: #6B55ED;
    -fx-prompt-text-fill: #A49CC7;
}

.label {
    -fx-text-fill: #6059ed;
}

.title {
    -fx-text-fill: #25167A;
    -fx-font-weight: 500;
    -fx-font-size: 20px;
}

.subtitle {
    -fx-text-fill: #3C27B2;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #6B55ED;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-mark-highlight-color: #6B55ED;
    -fx-mark-color: #6B55ED;
}

.radio-button:selected {
    line-height: 14px;
}

.text-area {
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    -fx-effect: none;
    -fx-background-insets: 0;
    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
    -fx-text-fill: #6B55ED;
}

.text-area.content {
    -fx-background-color: transparent, white, transparent, white;


}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;

    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.primaryButton {
    -fx-background-color: #6b55ed;
    -fx-background-radius: 16px;
}

.primaryButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

.secondaryButton {
    -fx-background-color: transparent;
    -fx-border-color: #6b55ed;
    -fx-border-radius: 16px;
    -fx-text-fill: #6b55ed;
}

.secondaryButton:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.list-cell {
    -fx-background-color: white;

    -fx-label-padding: 4px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #6B55ED, #A49CC7);
    -fx-text-fill: white;
    -fx-background-radius: 8px;

}


.list-cell > .virtual-flow > .scroll-bar,
.list-cell > .virtual-flow > .scroll-bar .decrement-arrow,
.list-cell > .virtual-flow > .scroll-bar .increment-arrow,
.list-cell > .virtual-flow > .scroll-bar .decrement-button,
.list-cell > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-cell .pretty-scroll-bar:vertical .thumb {
    -fx-background-insets: 0 2 0 0;
}

.list-cell .pretty-scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 0 2 0;
}

.list-cell .pretty-scroll-bar .decrement-arrow,
.list-cell .pretty-scroll-bar .increment-arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-cell .pretty-scroll-bar {
    -fx-background-color: #A49CC7;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}

.list-cell .pretty-scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #A49CC7;
    -fx-background-radius: 8px;

    -fx-text-fill: white;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-border-color: #fafafa;
    -fx-border-radius: 16px;
}

.sidebar-selectedButton {
    -fx-background-color: white;
    -fx-background-radius: 16px;
}

.sidebar-label-nameHeader {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: Poppins;
}

.sidebar-divider {
    -fx-background-color: linear-gradient(to right, #fafafa, transparent);
}