.input {
    -fx-background-color: transparent;
    -fx-border-color: #757575;
    -fx-border-radius: 16px;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #dbd7d7;
}

.label {
    -fx-text-fill: #c4c4c4;
}

.title {
    -fx-text-fill: #fff;
    -fx-font-weight: 500;
    -fx-font-size: 20px;
}

.subtitle {
    -fx-text-fill: #fafafa;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
}

.radio-button {
    -fx-text-fill: #fff;
}

.radio-button .radio {

    -fx-border-width: 1px;
    -fx-border-color: #fff;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-mark-highlight-color: #6B55ED;
    -fx-mark-color: #6B55ED;
}

.radio-button:selected {
    line-height: 14px;
}

.text-area {
    -fx-prompt-text-fill: #dbd7d7;

    -fx-text-fill: #fff;

    -fx-background-color: #000;
    -fx-border-color: #757575;
}

.text-area .content {
    -fx-background-color: linear-gradient(to right, #2e2f39, #272934);


}

.primaryButton {
    -fx-background-color: #fff;
    -fx-background-radius: 16px;
    -fx-text-fill: #6b55ed;
}

.primaryButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

.secondaryButton {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-radius: 16px;
    -fx-text-fill: #fff;
}

.secondaryButton:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.list-view {
    -fx-border-color: #757575;
    -fx-border-radius: 16px;
}

.list-cell {
    -fx-background-color: transparent;

    -fx-text-fill: white;
    -fx-label-padding: 4px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #6B55ED, #A49CC7);

    -fx-text-fill: white;
    -fx-background-radius: 16px;

}


.list-cell > .virtual-flow > .scroll-bar,
.list-cell > .virtual-flow > .scroll-bar .decrement-arrow,
.list-cell > .virtual-flow > .scroll-bar .increment-arrow,
.list-cell > .virtual-flow > .scroll-bar .decrement-button,
.list-cell > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-cell .pretty-scroll-bar:vertical .thumb {
    -fx-background-insets: 0 2 0 0;
}

.list-cell .pretty-scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 0 2 0;
}

.list-cell .pretty-scroll-bar .decrement-arrow,
.list-cell .pretty-scroll-bar .increment-arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-cell .pretty-scroll-bar {
    -fx-background-color: #A49CC7;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}

.list-cell .pretty-scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}


.list-cell:filled:hover {
    -fx-background-color: #A49CC7;
    -fx-background-radius: 8px;

    -fx-text-fill: white;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-border-color: #fafafa;
    -fx-border-radius: 16px;
}

.sidebar-selectedButton {
    -fx-background-color: white;
    -fx-background-radius: 16px;
}

.sidebar-label-nameHeader {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: Poppins;
}

.sidebar-divider {
    -fx-background-color: linear-gradient(to right, #fafafa, transparent);
}

.resumeButtonsBGWrapper {
    -fx-background-color: linear-gradient(to right, #191a2a, transparent);
    -fx-background-radius: 16px;


}
